body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #1f1f1f, #343434);
    color: #fff;
    overflow: hidden;
}

#header {
    text-align: center;
    padding: 10px;
    background: #282828;
    border-bottom: 2px solid #ffcc00;
}

#header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #ffcc00;
}

#header p {
    margin: 0px 0;
    font-size: 1.2rem;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    background: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
}

#buttons button:hover {
    background: #3e8e41;
}
#buttons-container {
    position: absolute;
    top: 90px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Main button */
#load-json-files {
    margin: 0 10px;
    padding: 10px 20px;
    background: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
}

#load-json-files:hover {
    background: #3e8e41;
}

/* Dropdown list */
#json-list {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    background: #222;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    width: 200px;
    max-height: 250px;
    overflow-y: auto;
    display: none; /* Initially hidden */
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

#json-list li {
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

#json-list li:hover {
    background: #4CAF50;
}

/* Show list when active */
#json-list.show {
    display: block;
}

#chart {
    width: 100%;
    height: calc(100vh - 120px);
}
